.saved-planets-container {
    max-width: 1000px;
    margin: 120px auto 40px auto; 
    padding: 20px;
    color: white;
}

.saved-header h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}

.planets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 35px;
    justify-items: center; 
}

.planet-card {
    width: 100%;
    max-width: 280px;
    background: #0d0d0d;
    border: 1px solid #1f1f1f;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    max-height: 250px; 
}

.planet-info {
    padding: 12px 16px;  
    display: flex;
    flex-direction: column;
    gap: 4px;          
}

.planet-info h3 {
    font-size: 18px;   
    margin-bottom: 4px;
}


.planet-card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.15);
}

.planet-img-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.planet-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.planet-info a {
    color: #8ab4ff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.planet-info a:hover {
    text-decoration: underline;
}

.empty-msg {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: #bbb;
}

body {
    background: url("/static/images/bgspace3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
