.saved-planets-container {
    max-width: 1000px;
    margin: 120px auto 40px auto; 
    padding: 20px;
    color: white;
}

.saved-header h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 35px;
}




.empty-msg {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: #bbb;
}

body {
    background: url("/static/images/bgspace3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
}
