{% extends "main/base.html" %}
{% load static %}

{% block title %} Profile — {{ profile_user.username }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="profile-container reveal">

    <div class="profile-sidebar">
        <img 
            class="avatar"
            src="{% if profile_user.userprofile.profile_picture %}
                    {{ profile_user.userprofile.profile_picture.url }}
                {% else %}
                    /media/accounts/profile_pictures/default_userprofile_pic.png
                {% endif %}"
        >



        <h2 class="username-display">@{{ profile_user.username }}</h2>

        <p class="fullname">
            {{ profile_user.first_name }} {{ profile_user.last_name }}
        </p>

        {% if request.user == profile_user %}
        <div class="profile-actions">
            <a class="edit-btn" href="{% url 'accounts:update_profile' %}" data-tooltip="Edit Profile">
                <i class="material-icons">manage_accounts</i>
            </a>

            <a class="bookmark-btn" href="{% url 'accounts:saved_planets' profile_user.username %}" data-tooltip="Saved planets">
                <i class="material-icons">bookmark</i>

            </a>
        </div>
        {% endif %}
        {% if progress %}
        <div class="quiz-stats-card">

            <h3 class="quiz-title">Quiz Performance</h3>

            <div class="quiz-row">
                <span class="quiz-label"> Best Score:</span>
                <span class="quiz-value">{{ progress.best_score }} / 5</span>
            </div>

            <div class="quiz-row">
                <span class="quiz-label"> Last Score:</span>
                <span class="quiz-value">{{ progress.last_score }} / 5</span>
            </div>

            <div class="quiz-row">
                <span class="quiz-label"> Attempts:</span>
                <span class="quiz-value">{{ progress.attempts }}</span>
            </div>

        </div>
        {% endif %}


    </div>


    <div class="profile-right reveal">

        <h2 class="section-title ">About</h2>

        <p class="info-text"><strong>Email:</strong> {{ profile_user.email }}</p>

        <p class="info-text"><strong>Bio:</strong> 
            {% if profile_user.userprofile.bio %}
                {{ profile_user.userprofile.bio }}
            {% else %}
                No bio available
            {% endif %}
        </p>

        <p class="info-text"><strong>Website:</strong>
            {% if profile_user.userprofile.website %}
                <a href="{{ profile_user.userprofile.website }}" target="_blank" class="profile-link">
                    {{ profile_user.userprofile.website }}
                </a>
            {% else %}
                No website provided
            {% endif %}
        </p>


        <div class="section-divider"></div>

        <h2 class="section-title reveal">Posts</h2>
        <p class="section-subtitle reveal">Recent posts by {{ profile_user.username }}</p>

        {% if recent_posts %}
            <div class="user-posts reveal">
                {% for post in recent_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>

            <div class="btn-row-right reveal">
                <a href="{% url 'accounts:user_posts_type' profile_user.username 'all' %}" class="neon-btn">
                    View all posts →
                </a>
            </div>

        {% else %}
            <p class="posts-placeholder reveal">No posts yet.</p>
        {% endif %}




        {% if request.user == profile_user %}

        <div class="section-divider reveal"></div>
        <h2 class="section-title reveal" >Liked Posts</h2>

        {% if liked_posts %}
            <div class="user-posts reveal">
                {% for post in liked_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right reveal">
                <a href="{% url 'accounts:user_posts_type' profile_user.username 'liked' %}" class="neon-btn">
                    View all liked posts →
                </a>
            </div>
        {% else %}
            <p class="posts-placeholder reveal">No liked posts.</p>
        {% endif %}


        <div class="section-divider reveal"></div>
        <h2 class="section-title reveal">Bookmarked Posts</h2>

        {% if bookmarked_posts %}
            <div class="user-posts reveal">
                {% for post in bookmarked_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right reveal">
                <a href="{% url 'accounts:user_posts_type' profile_user.username 'bookmarked' %}" class="neon-btn">
                    View all bookmarked posts →
                </a>
            </div>
        {% else %}
            <p class="posts-placeholder reveal">No bookmarked posts.</p>
        {% endif %}


        <div class="section-divider reveal"></div>
        <h2 class="section-title reveal">Commented Posts</h2>

        {% if commented_posts %}
            <div class="user-posts reveal">
                {% for post in commented_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right reveal">
                <a href="{% url 'accounts:user_posts_type' profile_user.username 'commented' %}" class="neon-btn">
                    View all commented posts →
                </a>
            </div>
        {% else %}
            <p class="posts-placeholder reveal">No commented posts.</p>
        {% endif %}

        {% endif %} 

    </div>

</div>

{% endblock content %}
