{% extends "main/base.html" %}
{% load static %}

{% block title %} Bookmarked Planets {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/saved_planets.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="saved-planets-container">

    <div class="saved-header">
        <h2>Bookmarked Planets  ({{ saved_planets.count }})</h2>
    </div>

    {% if saved_planets %}
        <div class="planets-grid">

            {% for item in saved_planets %}
                <div class="saved-card-wrapper">

                {% include "planets/planet_card.html" with planet=item.planet %}
                </div>
            {% endfor %}

        </div>
    {% else %}
        <p class="empty-msg">No saved planets yet.</p>
    {% endif %}

</div>

{% endblock content %}
