{% extends "main/base.html" %}
{% load static %}

{% block title %} {{ page_title }} — {{ profile_user.username }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user_posts.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="posts-view-page">

    <h2 class="posts-header-title">
        {{ page_title }} ({{ posts.count }})
    </h2>

    {% if posts %}
        <div class="posts-wrapper">

            {% for post in posts %}
                {% include "accounts/post_card.html" with post=post %}
            {% endfor %}

        </div>
    {% else %}
        <p class="posts-placeholder">No posts to display.</p>
    {% endif %}

</div>

{% endblock content %}
