body {
    margin: 0;
    background: #000;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    text-align: center;
    padding: 40px 60px;
    background: rgba(20, 22, 40, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow:
        0 0 25px rgba(120, 170, 255, 0.5),
        inset 0 0 15px rgba(80, 120, 255, 0.2);
}

.title {
    font-size: 85px;
    font-weight: 800;
    margin: 0 0 10px;
    letter-spacing: 3px;
    color: #ff9b9b;
    text-shadow: 0 0 20px rgba(255, 120, 120, 0.7);
}

.subtitle {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.hint {
    font-size: 15px;
    color: #cccccc;
    opacity: 0.7;
    margin-bottom: 25px;
}

.home-btn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    background: #4b7bec;
    transition: .3s ease;
}

.home-btn:hover {
    background: #3867d6;
    box-shadow: 0 0 15px rgba(130,160,255,0.8);
}
